
<div class="chart-wrapper">
  <ngx-charts-pie-chart
    [view]="view"
    [results]="chartData"
    [labels]="chartOptions.showLabels"
    [legend]="chartOptions.showLegend"
    [doughnut]="chartOptions.doughnut"
    [explodeSlices]="chartOptions.explodeSlices"
    [animations]="chartOptions.animations"
    (select) = "onSelect($event)"
  >
  <ng-template #tooltipTemplate let-model="model">
    <div class="tooltip">
      <p>{{model.name}}</p>
      <p>
        <i class="fa-solid fa-medal"></i>
        {{model.value}}
      </p>
    </div>
    
  </ng-template>
  </ngx-charts-pie-chart>
</div>

