.card-data, .header-title{
    border-radius: 10px;
}

/* LAYOUT */
.data-header-container{
    width: 70%;
    margin: 0 auto 1em auto;
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;
    align-items: center;
    justify-content: center;
    gap: 1.5em;
}

.card-data{
    padding: 0.5em 1em;
    border: 2px solid #04838F;
    text-align: center;
}

/* TYPOGRAPHY */
.header-title{
    display: inline-block;
    font-size: 2rem;
    margin: 1em;
    padding: 0.5em 1em;
    color: whitesmoke;
    background-color: #04838F;
}

.card-title{
    color: gray;
}

.card-value{
    font-weight: bold;
}




