
/******* GLOBAL STYLES *******/
.card-data, .header-title{
    border-radius: 10px;
}

/* LAYOUT */
.data-header-container{
    width: 50%;
    margin: 0 auto 1em auto;
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;
    align-items: center;
    justify-content: center;
    gap: 1.5em;
}

.card-data{
    padding: 0.5em 1em;
    border: 2px solid var(--turquoise);
    text-align: center;
}

/* TYPOGRAPHY */
.header-title{
    display: inline-block;
    font-size: var(--fs-m);
    margin: 1em;
    padding: 0.5em 1em;
    color: whitesmoke;
    background-color: var(--turquoise);
}

.card-title{
    color: gray;
}

.card-value{
    font-weight: bold;
}

/******* MEDIA QUERIES *******/

@media(min-width: 992px){
    .header-title{
        font-size: var(--fs-l);
    }
}




