/* RESET */
*, *::before, *::after{
    box-sizing: border-box;
}

body{
    margin: 0; 
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

/******* GLOBAL STYLES *******/
/* LAYOUT */
main{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.chart-wrapper{
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}


.center {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

/* TYPOGRAPHY */
p{
    margin: 0;
}

.chart-wrapper text{
    font-size: clamp(12px, 1.5vw, 24px);
}

/* LINK */
.goBack-link{
    display: inline-block;
    margin-top: 1em;
    padding: 0.5em 1em;
    text-decoration: none;
    color: whitesmoke;
    background-color: black;
    border-radius: 10px;
    
}

.goBack-link:hover, .goBack-link:focus{
    text-decoration: underline;
}

.goBack-link:active {
    color: whitesmoke;
    background-color: lightseagreen;
}


/* TOOLTIP CHART */
ngx-tooltip-content.ngx-charts-tooltip-content.type-tooltip {
    .tooltip-caret.position-top {
      border-top-color: lightseagreen;
      box-shadow: 2px 2px 20px 1px rgba(0, 0, 0, 0.2);
    }
  
    background-color: lightseagreen;
    box-shadow: 2px 2px 20px 1px rgba(0, 0, 0, 0.2);
  }
