body{
    margin: 0; 
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

/* LAYOUT */
main{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}


.center {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

/* TYPOGRAPHY */
p{
    margin: 0;
}