body{
    margin: 0; 
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.center {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }